@model CoworkingCenterCreateRequestDto;
@using CoworkingApp.Models.DtoModels;

<title>Coworking Center - Create</title>

<h1>Create a Coworking Center</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" type="text"/>
        <span asp-validation-for="@Model.Name"></span>
    </div>
    <div>
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" type="text"/>
        <span asp-validation-for="@Model.Description"></span>
    </div>
    <div>
        <label asp-for="@Model.StreetAddress"></label>
        <input asp-for="@Model.StreetAddress" type="text"/>
        <span asp-validation-for="@Model.StreetAddress"></span>
    </div>
    <div>
        <label asp-for="@Model.District"></label>
        <input asp-for="@Model.District" type="text"/>
        <span asp-validation-for="@Model.District"></span>
    </div>
    <div>
        <label asp-for="@Model.PostalCode"></label>
        <input asp-for="@Model.PostalCode" type="text"/>
        <span asp-validation-for="@Model.PostalCode"></span>
    </div>
    <div>
        <label asp-for="@Model.City"></label>
        <input asp-for="@Model.City" type="text"/>
        <span asp-validation-for="@Model.City"></span>
    </div>
    <div>
        <label asp-for="@Model.Country"></label>
        <input asp-for="@Model.Country" type="text"/>
        <span asp-validation-for="@Model.Country"></span>
    </div>
    
    <button type="submit">Create</button>
</form>
