@using CoworkingApp.Models.DtoModels
@model UserLoginRequestDto

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

@using (Html.BeginForm(actionName: "Login", controllerName: "Account"))
{
    <div class="field-row">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, "", htmlAttributes: new { type = "email", required = true })
        @Html.ValidationMessageFor(m => m.Email, "", htmlAttributes: new { @class = "field-error" })
    </div>

    <div class="field-row">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, "", htmlAttributes: new { type = "password", required = true })
        @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "field-error" })
    </div>

    <div class="form-controls">
        @Html.ActionLink(linkText: "I don't have an account yet", actionName: "Register", controllerName: "Account")
        <button type="submit">Sign In</button>
    </div>
}

@section Styles { 
    <style>
        .field-row {
            display: flex;
            align-items: center;
            margin-block: 1rem;
        }    

        .field-row label {
            flex: 0 0 16rem;            /* fixed width for labels */
            margin-right: 0.5rem;
        }

        .field-row input {
            flex: 1;                   /* take up remaining space */
            margin-right: 0.5rem;
        }

        .field-error {
            color: #c00;               /* red for errors */
            font-size: 0.9em;
            white-space: nowrap;
        }

        .form-controls {
            display: flex;
            justify-content: space-between;

            text-align: right;
            margin-top: 1rem;
        }
    </style>
}
