@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - DeskSpace</title>
    }
    else
    {
        <title>DeskSpace</title>
    }

    <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css" />

    <style>
        html {
            scroll-behavior: smooth;
            scroll-padding-top: 50px;
            font-family: arial, sans-serif;
        }

        #layout-body {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1000px;
            gap: 1em;
        }

        #layout-body #layout-nav {
            display: flex;
            position: sticky;
            top: 0;
            overflow: hidden;
            z-index: 1200;  /* Leaflet's max z-index is 1000 */
            align-items: center;
            background-color: lightgray;
            justify-content: space-between;
            padding-inline: 1em;
        }

        #layout-body #layout-nav 
            .nav-list {
            display: flex;
        }

        #layout-body #layout-nav .nav-list .nav-item {
            display: inline-block;
            margin-left: 1rem;
        }

        #layout-body #layout-footer {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            margin-bottom: 1em;
        }
    </style>

    @* For local styling of views. This pastes whatever is in the Styles section. *@
    @await RenderSectionAsync("Styles", required: false)
</head>


<body id="layout-body">


    <!-- Navigation Bar -->
    <nav id="layout-nav">
        @Html.ActionLink(linkText: "C#", actionName: "Index", controllerName: "Home")
        <ul class="nav-list">
            <li class="nav-item">
                @Html.ActionLink(linkText: "Coworking Centers", actionName: "Index", controllerName: "CoworkingCenter")
            </li>
            <li class="nav-item">
                @Html.ActionLink(linkText: "Workspaces", actionName: "Index", controllerName: "Workspace")
            </li>
        </ul>
        <ul class="nav-list">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    @Html.ActionLink(linkText: User.FindFirstValue(ClaimTypes.Email), actionName: "Dashboard", controllerName: "Home")
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm(actionName: "Logout", controllerName: "Account"))
                    {
                        <button type="submit">Logout</button>
                    }
                </li>
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink(linkText: "Register", actionName: "Register", controllerName: "Account")
                </li>
                <li class="nav-item">
                    @Html.ActionLink(linkText: "Login", actionName: "Login", controllerName: "Account")
                </li>
            }
        </ul>
    </nav>


    <!-- Main -->
    <main id="layout-main" role="main">
        @RenderBody()
    </main>


    <!-- Footer -->
    <footer id="layout-footer">
        <section>
            @Html.ActionLink(linkText: "Privacy", actionName: "Privacy", controllerName: "Home")
            | 
            @Html.ActionLink(linkText: "Dev", actionName: "Index", controllerName: "Developer")
        </section>
        <section>
            <span>&copy; 2025 - DeskSpace</span> 
        </section>
    </footer>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/leaflet/dist/leaflet.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>


</html>
