@model CoworkingApp.Models.ViewModels.ReservationCreateGetViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>New reservation</h2>

@if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
{
    <div class="alert alert-danger">
        <h3>Error</h3>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<a asp-action="Index">Go to reservations</a>

<form method="post" asp-action="Create">
    <div class="form-row">
        <label asp-for="@Model.Request.WorkspaceId">Workspace</label>
        <select asp-for="@Model.Request.WorkspaceId">
            <option value="">-- select workspace --</option>
            @foreach(var ws in Model.Workspaces)
            {
                <option value="@ws.WorkspaceId">@ws.Name</option>
            }
        </select>
        <span class="field-error" asp-validation-for="@Model.Request.WorkspaceId"></span>
    </div>
   
    <div class="form-row">
        <label asp-for="@Model.Request.StartTime">Start time</label>
        <input 
            type="datetime-local" 
            asp-for="@Model.Request.StartTime" 
            value="@Model.Request.StartTime.ToString("s")"
            />
        <span class="field-error" n asp-validation-for="@Model.Request.StartTime"></span>
    </div>
    
    <div class="form-row">
        <label asp-for="@Model.Request.EndTime">End time</label>
        <input 
            type="datetime-local" 
            asp-for="@Model.Request.EndTime" 
            value="@Model.Request.EndTime.ToString("s")"
            />
        <span class="field-error" asp-validation-for="@Model.Request.EndTime"></span>
    </div>
    
    <div class="form-controls">
        <button type="submit">Create</button>
    </div>
</form>

@section Styles {
    <style>
        .form-row {
            display: flex;
            align-items: center;
            margin-block: 1rem;
        }

        .form-row label {
            flex: 0 0 16rem; /* fixed width for labels */
            margin-right: 0.5rem;
        }

        .form-row input {
            flex: 1; /* take up remaining space */
            margin-right: 0.5rem;
        }

        .field-error {
            color: #c00; /* red for errors */
            font-size: 0.9em;
            white-space: nowrap;
        }

        .form-controls {
            display: flex;
            justify-content: space-between;
            text-align: right;
            margin-top: 1rem;
        }
    </style>
}
